.bicicleta-lista{
  padding: 60px 0px 120px 0px;
}

.bicicleta-lista h2{
  margin-bottom: 40px;
}

.bicicleta-lista ul{
  display: flex;
  gap: 40px;
  padding: 0 20px 20px 20px;
  max-width: 1400px;
  margin: 0 auto;
  overflow-x: auto;
}

.bicicleta-lista li{
  flex: 1;
  min-width: 280px;
}

.bicicleta-lista a{
  display: block;
}

.bicicleta-lista img{
  margin-bottom: 16px;
}

.bicicleta-lista h3{
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.bicicleta-lista h3::before{
  display: inline-block;
  content: "";
  width: 12px;
  height: 8px;
  background: var(--cor-p1);
  margin-right: 8px;
  transition: width 0.2s;
}

.bicicleta-lista a:hover h3::before{
  width: 24px;
}

.bicicleta-lista li span{
  margin-left: 20px;
}

@media (max-width: 800px){
  .bicicleta-lista{
    padding-bottom: 60px;
  }
  .bicicleta-lista ul{
    gap: 20px;
  }
}